<!DOCTYPE html>
<html lang="ko">
<head>
    <title>JACK-JACK</title>
    <mata charset="utf-8" />
    
    <script type="text/javascript" src="/static/bower_components/react/react.js"></script>
    <script type="text/javascript" src="/static/bower_components/react/JSXTransformer.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <script type="text/jsx" src="/static/js/timeline.js"></script>
</head>
<body>
    <p>Welcome!</p>

    <div id="example"></div>
</body>
</html>
